<form (ngSubmit)="onSubmit(addForm);" #addForm="ngForm">
  <div class="form-group row">
    <div class="col-9">
      <input type="comment" class="form-control"
             name="body" placeholder="Wpisz komentarz"
             #body="ngModel"
             [(ngModel)]="comment.body"
             minlength="2" required>
      <ul *ngIf="body.errors && body.dirty" class="text-danger my-0 t-3">
        <li *ngIf="body.errors?.required">Aby dodać komentarz wpisz test.</li>
        <li *ngIf="body.errors?.minlength">Za mało znaków.</li>
      </ul>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">
        Dodaj
      </button>
    </div>
  </div>
</form>
